@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/*|---------------------|*/
/*|  Taranis Project    |*/
/*| Autor: Misael MDV   |*/
/*|                     |*/
/*| besowho@hotmail.com |*/
/*|---------------------|*/


/*******************
GLOBAL PROPERTIES
*******************/
html {width:100%; height:100%;}

body 
{ 	 
	background-color:rgb(20,20,20); /*darkgray, gray, dimgray*/
	font-family:Helvetica, Verdana, sans-serif;
	font-size:14px;
	line-height:20px;
	
	height:auto;
	border-width: 0px;
	
	
}
a {color: rgb(200,200,200)}
a:hover {color: rgb(0, 225, 255)}

.col-1, .col-2 {float:left;}

.wrapper {width:100%; overflow:hidden;}
.extra-wrap {overflow:hidden;}

h3 {color: rgb(200,200,200)}
h3.top {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 font-size: 13px;
	 color: rgb(0,200,200);
	 float: left; 
	 padding:5px;
}
 
p {margin-bottom:18px;}
.p0 {margin-bottom:0px;}
.p1 {margin-bottom:6px;}
.p2 {margin-bottom:15px;}
.p3 {margin-bottom:30px;}
.p4 {margin-bottom:40px;}
.p5 {margin-bottom:50px;}

.fleft {float:left;}
.fright {float:right;}

.alignright {text-align:right;}
.aligncenter {text-align:center;}

.color-1 {color:#fff;}
.color-2 {color:#000;}
.color-3 {color:#666;}

p.copyright {
        position: fixed;
        width: auto;
        color: rgb(200,200,200);
        line-height: 40px;
        font-size: 0.9em;
        text-align: center;
        bottom:0;
		!left:40px;
    }

.global-menu
{
	    height:380px;
		width:160px;
		position: fixed;
		z-index: 1;
		top: 0;
		
		background-color:rgb(40,40,40);
        border-radius: 10px;
		float:left;
        
        padding:20px;
        
	    
}	

.global-content
{
	    background-color:rgb(40,40,40);
		border-radius: 10px;
        float:left;
        height:auto;
        padding:10px;
        width:1340px;
		border: 2px solid rgb(20,20,20);
}

.global-aside
{
	 font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	 font-size: 20px;
	 color: rgb(0,200,200);
	 
	 background-color:rgb(40,40,40);
	 border-radius: 10px;
	 height:auto;
	 width: 150px; 
     float: right; 
	 padding:20px;
}


/*******************
GLOBAL CONTENT FORM   
*******************/	
	
.global-form
{
	width: auto;
	margin: 0 auto;
	position: relative;
	
	background: rgb(40,40,40);
	border: 2px solid rgb(80,80,80);
	border-radius: 10px;
	background-clip: border;
}

.global-form .header {
	padding: 10px 10px 10px 5px;
}

.global-form .header h1 {
	font-weight: 300;
	font-size: 24px;
	line-height:10px;
	color: rgb(200,200,200);
	margin-bottom: 10px;
}	

.global-form .header span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256,256,256,1.0);
}

.global-form .content {
	padding: 0 30px 25px 30px;
}

.global-form .content .input {
	width: 188px;
	padding: 15px 25px;
	
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
    color: rgb(0,225,225);
	margin-top:10px;
	margin-left:10px;
	background: rgb(60,60,60);
	border: 2px solid rgb(70,70,70);
	border-radius: 5px;
	outline: none;
	
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.50);

}

.global-form .content .input:hover {
	background: rgb(60,60,60);
	color: rgb(0,225,225);
	border-color: rgb(70,70,70);
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
	outline: none;
}

.global-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	border: 2px solid rgb(0, 225, 255);
	
}	

.global-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	
	background: rgb(40,40,40);
	/*border-top: 2px solid rgb(80,80,80);*/
	border-radius: 10px;
	
}

.global-content .button {
	float:right;
	/*padding: 11px 25px;*/
	padding: 10px;
	outline:none;
	font-size: 20px;
	color: rgb(200,200,200);
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	margin-left:10px;
	background: linear-gradient(0, #404040, #303030);
	border: 2px solid rgb(80,80,80);
    border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.global-form .footer .button {
	float:right;
	/*padding: 11px 25px;*/
	padding: 10px;
	outline:none;
	font-size: 20px;
	color: rgb(200,200,200);
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	margin-left:10px;
	background: linear-gradient(0, #404040, #303030);
	border: 2px solid rgb(80,80,80);
    border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.global-form .footer .button-warning {
	float:right;
	/*padding: 11px 25px;*/
	padding: 10px;
	outline:none;
	font-size: 20px;
	color: rgb(200,200,200);
	text-shadow: 0px 1px 0 rgba(0,0,0,0.25);
	margin-left:10px;
	background: linear-gradient(0, #404040, #303030);
	border: 2px solid rgb(80,80,80);
    border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.global-content .button:hover {
	background: linear-gradient(0, #808080, #606060);
	border: 2px solid rgb(0, 225, 255);
	color: rgb(255,255,255);
    
}

.global-form .footer .button:hover {
	background: linear-gradient(0, #808080, #606060);
	border: 2px solid rgb(0, 225, 255);
	color: rgb(255,255,255);
    
}

.global-form .footer .button-warning:hover {
	background: linear-gradient(0, #808080, #606060);
	border: 2px solid rgb(255, 0, 0);
	color: rgb(255,255,255);
    
}

.global-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	background: linear-gradient(0, #909090, #707070);/*rgb(130,130,130);*/
	color: rgb(255,255,255);
    border: 2px solid rgb(0, 225, 255);/*rgb(0,225,255);*/
    border-radius: 5px;
}

.global-form .footer .button-warning:focus {
	position: relative;
	bottom: -1px;
	background: linear-gradient(0, #909090, #707070);/*rgb(130,130,130);*/
	color: rgb(255,255,255);
    border: 2px solid rgb(255, 0, 0);/*rgb(0,225,255);*/
    border-radius: 5px;
}
.content input:focus + div{
	left: -46px;
}

/* Animation */
.input, .button, .button-warning, .inputmedium, .inputsmall {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}
