@import url(http://fonts.googleapis.com/css?family=Bree+Serif);

/*|---------------------|*/
/*| Project: SESONAR    |*/
/*| Autor: Misael MDV   |*/
/*| SBDS MIG  v.1.0     |*/
/*| besowho@hotmail.com |*/
/*|---------------------|*/

.vertical-menu {
  width: 160px;
  overflow-y: none;
  font-size: 14px;
  z-index: 100;
  position: fixed;
  
}

.vertical-menu a {
  background: linear-gradient(0, #808080, #606060);
  color: black;
  display: block;
  border: 2px solid rgb(40, 40, 40);
  border-radius: 5px;
  margin-bottom: 2px;
  padding: 10px;
  text-decoration: none;
  
}
.vertical-menu li{
   list-style: none;
   position:relative;
}

.vertical-menu li ul{
   width: 160px;
   margin:0;
   display:none;
   position: absolute;
   left: 75%;
   top: -2px;
}

.vertical-menu li:hover ul{
	display: block;	
}


.vertical-menu a:hover {

	border: 2px solid rgb(0, 225, 255);
	color: rgb(0,255,255);
	
}

.vertical-menu a.flecha:hover {
	border: 2px solid rgb(0, 225, 255);
    color: rgb(0,255,255);
	background-image:url(../images/angle-right.png);
	background-repeat: no-repeat;
	background-position:right;
	background-size: 20px 20px;
	
}

.vertical-menu a.active {
 
  border: 2px solid rgb(0, 225, 255);
  color: rgb(0,255,255);
  
}

.vertical-menu a.exit:hover {
  
  border: 2px solid rgb(255, 0, 0);
  color: rgb(0,255,255);
  
}